doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/webRTC.css')
    script(src="/socket.io/socket.io.js")
    script(src="javascripts/scripts.js")
  body
    block content